.sidebarOption {
  display: flex;
  align-items:center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 200ms ease-out; /*time for the text to change the color when you hover over it*/
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption > h2 {
  font-weight: 780;
  font-size: 15px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}